#OSX
#-------------------------------------------------------------------------------
.DS_STORE


#General
#-------------------------------------------------------------------------------
node_modules
yarn.lock
package-lock.json


# coverage
coverage
.nyc_output
